<div>
    <h1 class="text-4xl text-center font-bold my-6"> Wakacje i koniec roku szkolnego dla maturzystów 2022/2023 za:</h1>
    <h3 class="text-2xl text-center my-2">{{ weeksLeft }} {{ weeksWord }}</h3>
    <p class="text-lg text-center my-2">Czyli</p>
    <h3 class="text-2xl text-center my-2">{{ daysLeft }} {{ daysWord }}</h3>
    <p class="text-lg text-center my-2">lub</p>
    <h3 class="text-2xl text-center my-2">{{ hoursLeft }} {{ hoursWord }}</h3>
    <p class="text-lg text-center my-2">lub</p>
    <h3 class="text-2xl text-center my-2">{{ minutesLeft }} {{ minutesWord }}</h3>
    <p class="text-lg text-center my-2">lub</p>
    <h3 class="text-2xl text-center my-2">{{ secondsLeftShow }} sekund</h3>
    <p class="text-xl text-center my-2">Inaczej mówiąc, roku szkolnego zostało jeszcze:</p>
    <h3 class="text-2xl text-center my-2">{{ percentLeft }}%</h3>
</div>
